/****** reset *******/

body {
    margin: 0;
    padding: 0;
}
/**** end reset ***/

html {
    font-family: arial, Arial, Helvetica, sans-serif;
}
:root {
    --primary-color: #242848;
}
.header {
    background-color: var(--primary-color);
    padding: 10px 0 10px 0;
}
.logo {
    height: 40px;
    width: auto;
}
.container {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 30px;
}
main {
    padding-top: 80px;
}
.main {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    gap: 60px;
} 
.col-1 {
    width: 100%;
}
.col-2 {
    width: 100%;
}
.search-container {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    gap: 15px;
}
.search-container input {
    width: 100%;
}
.result-card {
    background-color: #F1F1F1;
    padding: 20px;
    display: flex;
}
.card-title {
    display: flex;
}
.card-title p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.card-title p:nth-of-type(2) {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}